USE [English]
GO
/****** Object:  StoredProcedure [dbo].[learnNew]    Script Date: 3/21/2017 11:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




create proc [dbo].[learnNew] (
	@id int
)as
begin
	select top 30 * from Word w where(not exists(select * from WordEffect p where p.Idword = w.Id and p.IdAccountUser = @id and p.Status=1)) and w.Status = 1 order by newid()
	
end






GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/21/2017 11:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](200) NULL,
	[Phone] [varchar](11) NULL,
	[Username] [varchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Mark] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HistoryWord]    Script Date: 3/21/2017 11:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HistoryWord](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdWord] [int] NULL,
	[IdAccount] [int] NULL,
	[Day] [datetime] NULL,
	[Time] [int] NULL,
	[Remember] [varchar](50) NULL,
	[Learned] [bit] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_HistoryWord] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Word]    Script Date: 3/21/2017 11:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Word](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Word] [varchar](100) NOT NULL,
	[WordRemember] [varchar](150) NULL,
	[Mean] [nvarchar](200) NULL,
	[Audio] [nvarchar](50) NULL,
	[Image] [nvarchar](50) NULL,
	[Category] [varchar](10) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Word] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[Word] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WordEffect]    Script Date: 3/21/2017 11:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WordEffect](
	[IdAccountUser] [int] NOT NULL,
	[IdWord] [int] NOT NULL,
	[Point] [int] NULL,
	[Review] [int] NULL,
	[DateMilli] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_WordEffect] PRIMARY KEY CLUSTERED 
(
	[IdAccountUser] ASC,
	[IdWord] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([Id], [FullName], [Email], [Phone], [Username], [Password], [Mark], [Status]) VALUES (1, N'Tiến Nguyễn', N'tiennguyen2nt@gmail.com', N'0987654321', N'tiennguyen', N'Imasterenglish', NULL, 1)
INSERT [dbo].[Account] ([Id], [FullName], [Email], [Phone], [Username], [Password], [Mark], [Status]) VALUES (2, N'Test', N'test@gmail.com', N'0987877876', N'test', N'123test', NULL, 1)
INSERT [dbo].[Account] ([Id], [FullName], [Email], [Phone], [Username], [Password], [Mark], [Status]) VALUES (3, N'Tiến', N'tien@gmail.com', NULL, N'tien', N'tien', NULL, 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
SET IDENTITY_INSERT [dbo].[HistoryWord] ON 

INSERT [dbo].[HistoryWord] ([Id], [IdWord], [IdAccount], [Day], [Time], [Remember], [Learned], [Status]) VALUES (1, 3020, 0, CAST(0x0000A73D010AEDE2 AS DateTime), 0, N' 10', 1, 1)
INSERT [dbo].[HistoryWord] ([Id], [IdWord], [IdAccount], [Day], [Time], [Remember], [Learned], [Status]) VALUES (2, 117, 0, CAST(0x0000A73D010AEE1A AS DateTime), 0, N' 10', 1, 1)
INSERT [dbo].[HistoryWord] ([Id], [IdWord], [IdAccount], [Day], [Time], [Remember], [Learned], [Status]) VALUES (3, 2251, 0, CAST(0x0000A73D010AEE23 AS DateTime), 0, N' 10', 1, 1)
SET IDENTITY_INSERT [dbo].[HistoryWord] OFF
SET IDENTITY_INSERT [dbo].[Word] ON 

INSERT [dbo].[Word] ([Id], [Word], [WordRemember], [Mean], [Audio], [Image], [Category], [Status]) VALUES (1, N'abandon', N'a-ban-don', N'bỏ, từ bỏ', N'abandon.mp3', N'abandon', N'(v)', 1)
INSERT [dbo].[Word] ([Id], [Word], [WordRemember], [Mean], [Audio], [Image], [Category], [Status]) VALUES (2, N'abandoned', N'a-ban-do-ned', N'bị bỏ rơi, bị ruồng bỏ', N'abandoned.mp3', N'abandoned', N'(adj)', 1)
INSERT [dbo].[Word] ([Id], [Word], [WordRemember], [Mean], [Audio], [Image], [Category], [Status]) VALUES (3, N'ability', NULL, N'khả năng, năng lực', N'ability.mp3', N'ability', N'(n)', 1)
GO
SET IDENTITY_INSERT [dbo].[Word] OFF
INSERT [dbo].[WordEffect] ([IdAccountUser], [IdWord], [Point], [Review], [DateMilli], [Status]) VALUES (0, 40, 10, 1, CAST(0x0000A74000000000 AS DateTime), 1)
INSERT [dbo].[WordEffect] ([IdAccountUser], [IdWord], [Point], [Review], [DateMilli], [Status]) VALUES (0, 117, 10, 1, CAST(0x0000A74000000000 AS DateTime), 1)
INSERT [dbo].[WordEffect] ([IdAccountUser], [IdWord], [Point], [Review], [DateMilli], [Status]) VALUES (0, 195, 10, 1, CAST(0x0000A74000000000 AS DateTime), 1)
ALTER TABLE [dbo].[WordEffect] ADD  CONSTRAINT [DF_WordEffect_Point]  DEFAULT ((0)) FOR [Point]
GO
ALTER TABLE [dbo].[WordEffect] ADD  CONSTRAINT [DF_WordEffect_Review]  DEFAULT ((0)) FOR [Review]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Từ tiếng anh đa được cac ra để dễ nhớ, ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Word', @level2type=N'COLUMN',@level2name=N'WordRemember'
GO
